<mat-toolbar color="primary">
  <mat-toolbar-row class="flex space-between">
    <div (click)="onNavigateHome()">
      <span *ngIf="isStudent" class="clickable">Student Browser</span>
      <span *ngIf="isTeacher" class="clickable">Teacher Browser</span>
    </div>
    <mat-list role="list" class="inline-list">
      <ng-container *ngFor="let item of menu">
        <mat-list-item role="listitem" *ngIf="item.canDisplay">
          <mat-icon matListItemIcon class="text-white">{{
            item.icon
          }}</mat-icon>
          <div matListItemTitle class="text-white">{{ item.viewValue }}</div>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <app-user-nav></app-user-nav>
  </mat-toolbar-row>
</mat-toolbar>
