<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" class="sidenav flex" [opened]="true">
    <mat-list role="list">
      <div mat-subheader class="text-white mb-10 pb-5">
        <h2>Admin Browser</h2>
      </div>
      <mat-list-item role="listitem" *ngFor="let item of menu">
        <mat-icon matListItemIcon class="text-white">{{item.icon}}</mat-icon>
        <div matListItemTitle class="text-white">{{item.viewValue}}</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="flex-col min-vh-100">
    <app-admin-header (toggleSideNav)="drawer.toggle()"></app-admin-header>
    <div class="px-5 py-5 bg-neutral flex-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
