<form [formGroup]="form" class="form" (ngSubmit)="onChangePassword()">
  <h2>Đổi mật khẩu</h2>
  <div>
    <mat-form-field appearance="outline" class="mr-4 full-width">
      <mat-label>Mật khẩu hiện tại</mat-label>
      <input type="password" matInput formControlName="currentPwd" />
      <mat-error>
        <app-validation-error
          [control]="form.controls.currentPwd"
        ></app-validation-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="mr-4 full-width">
      <mat-label>Mật khẩu mới</mat-label>
      <input type="password" matInput formControlName="newPwd" />
      <mat-error>
        <app-validation-error
          [control]="form.controls.newPwd"
        ></app-validation-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="flex justify-end">
    <button mat-flat-button color="primary">Đổi mật khẩu</button>
  </div>
</form>