@import 'variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-size: 16px;
    padding: 14px 26px;
    letter-spacing: 0.02rem;
}

a {
    text-decoration: none;
    color: $black-color;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.transparent {
    opacity: 0;
}

.vh-100 {
  height: 100vh;
}


.rounded-sm {
    border-radius: 4px;
}

.rounded {
    border-radius: 8px;
}

.rounded-md {
    border-radius: 12px;
}

.rounded-lg {
    border-radius: 16px;
}

.rounded-xl {
    border-radius: 20px;
}

.rounded-full {
    border-radius: 9999px;
}

.letter-spacing-0 {
    letter-spacing: 0 !important;
}

.hyperlink {
    color: rgb(28, 28, 255);
    font-weight: 500;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        filter: brightness(80%);
    }
}

.clickable {
    cursor: pointer;
}

.font-thin {
    font-weight: 300;
}

.font-normal {
    font-weight: normal;
}

.font-500 {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem;
}
.text-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem;
}
.text-base {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem;
}
.text-lg {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem;
}
.text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem;
}
.text-2xl {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem;
}
.text-3xl {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem;
}
.text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem;
}
.text-5xl {
    font-size: 3rem; /* 48px */
    line-height: 1;
}
.text-6xl {
    font-size: 3.75rem; /* 60px */
    line-height: 1;
}
.text-7xl {
    font-size: 4.5rem; /* 72px */
    line-height: 1;
}
.text-8xl {
    font-size: 6rem; /* 96px */
    line-height: 1;
}
.text-9xl {
    font-size: 8rem; /* 128px */
    line-height: 1;
}


.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.my-1 {
    margin: 4px 0;
}

.my-2 {
    margin: 8px 0;
}

.my-3 {
    margin: 12px 0;
}

.my-4 {
    margin: 16px 0;
}

.my-5 {
    margin: 20px 0;
}

.my-6 {
    margin: 24px 0;
}

.my-7 {
    margin: 28px 0;
}

.my-8 {
    margin: 32px 0;
}

.my-9 {
    margin: 36px 0;
}

.my-10 {
    margin: 40px 0;
}

.mx-1 {
    margin: 0 4px;
}

.mx-2 {
    margin: 0 8px;
}

.mx-3 {
    margin: 0px 12px;
}

.mx-4 {
    margin: 0px 16px;
}

.mx-5 {
    margin: 0px 20px;
}

.mx-6 {
    margin: 0px 24px;
}

.mx-7 {
    margin: 0px 28px;
}

.mx-8 {
    margin: 0px 32px;
}

.mx-9 {
    margin: 0px 36px;
}

.mx-10 {
    margin: 0px 40px;
}

.py-1 {
    padding: 4px 0;
}

.py-2 {
    padding: 8px 0;
}

.py-3 {
    padding: 12px 0;
}

.py-4 {
    padding: 16px 0;
}

.py-5 {
    padding: 20px 0;
}

.py-6 {
    padding: 24px 0;
}

.py-7 {
    padding: 28px 0;
}

.py-8 {
    padding: 32px 0;
}

.py-9 {
    padding: 36px 0;
}

.py-10 {
    padding: 40px 0;
}

.px-1 {
    padding: 0 4px;
}

.px-2 {
    padding: 0 8px;
}

.px-3 {
    padding: 0px 12px;
}

.px-4 {
    padding: 0px 16px;
}

.px-5 {
    padding: 0px 20px;
}

.px-6 {
    padding: 0px 24px;
}

.px-7 {
    padding: 0px 28px;
}

.px-8 {
    padding: 0px 32px;
}

.px-9 {
    padding: 0px 36px;
}

.px-10 {
    padding: 0px 40px;
}

.pt-1 {
    padding-top: 4px;
}

.pt-2 {
    padding-top: 8px;
}

.pt-3 {
    padding-top: 12px;
}

.pt-4 {
    padding-top: 16px;
}

.pt-5 {
    padding-top: 20px;
}

.pt-6 {
    padding-top: 24px;
}

.pt-7 {
    padding-top: 28px;
}

.pt-8 {
    padding-top: 32px;
}

.pt-9 {
    padding-top: 36px;
}

.pt-10 {
    padding-top: 40px;
}

.pb-1 {
    padding-bottom: 4px;
}

.pb-2 {
    padding-bottom: 8px;
}

.pb-3 {
    padding-bottom: 12px;
}

.pb-4 {
    padding-bottom: 16px;
}

.pb-5 {
    padding-bottom: 20px;
}

.pb-6 {
    padding-bottom: 24px;
}

.pb-7 {
    padding-bottom: 28px;
}

.pb-8 {
    padding-bottom: 32px;
}

.pb-9 {
    padding-bottom: 36px;
}

.pb-10 {
    padding-bottom: 40px;
}


.pl-1 {
    padding-left: 4px;
}

.pl-2 {
    padding-left: 8px;
}

.pl-3 {
    padding-left: 12px;
}

.pl-4 {
    padding-left: 16px;
}

.pl-5 {
    padding-left: 20px;
}

.pl-6 {
    padding-left: 24px;
}

.pl-7 {
    padding-left: 28px;
}

.pl-8 {
    padding-left: 32px;
}

.pl-9 {
    padding-left: 36px;
}

.pl-10 {
    padding-left: 40px;
}


.pr-1 {
    padding-right: 4px;
}

.pr-2 {
    padding-right: 8px;
}

.pr-3 {
    padding-right: 12px;
}

.pr-4 {
    padding-right: 16px;
}

.pr-5 {
    padding-right: 20px;
}

.pr-6 {
    padding-right: 24px;
}

.pr-7 {
    padding-right: 28px;
}

.pr-8 {
    padding-right: 32px;
}

.pr-9 {
    padding-right: 36px;
}

.pr-10 {
    padding-right: 40px;
}


.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-3 {
    margin-top: 12px;
}

.mt-4 {
    margin-top: 16px;
}

.mt-5 {
    margin-top: 20px;
}

.mt-6 {
    margin-top: 24px;
}

.mt-7 {
    margin-top: 28px;
}

.mt-8 {
    margin-top: 32px;
}

.mt-9 {
    margin-top: 36px;
}

.mt-10 {
    margin-top: 40px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mb-5 {
    margin-bottom: 20px;
}

.mb-6 {
    margin-bottom: 24px;
}

.mb-7 {
    margin-bottom: 28px;
}

.mb-8 {
    margin-bottom: 32px;
}

.mb-9 {
    margin-bottom: 36px;
}

.mb-10 {
    margin-bottom: 40px;
}

.ml-1 {
    margin-left: 4px;
}

.ml-2 {
    margin-left: 8px;
}

.ml-3 {
    margin-left: 12px;
}

.ml-4 {
    margin-left: 16px;
}

.ml-5 {
    margin-left: 20px;
}

.ml-6 {
    margin-left: 24px;
}

.ml-7 {
    margin-left: 28px;
}

.ml-8 {
    margin-left: 32px;
}

.ml-9 {
    margin-left: 36px;
}

.ml-10 {
    margin-left: 40px;
}

.mr-1 {
    margin-right: 4px;
}

.mr-2 {
    margin-right: 8px;
}

.mr-3 {
    margin-right: 12px;
}

.mr-4 {
    margin-right: 16px;
}

.mr-5 {
    margin-right: 20px;
}

.mr-6 {
    margin-right: 24px;
}

.mr-7 {
    margin-right: 28px;
}

.mr-8 {
    margin-right: 32px;
}

.mr-9 {
    margin-right: 36px;
}

.mr-10 {
    margin-right: 40px;
}







