@import 'variables';



mat-form-field {
  margin: 8px 0;

  mat-label {
    font-size: 14px;
  }

  mat-hint {
    font-size: 12px;
    transform: translateX(-8px) translateY(4px);
  }

  mat-error {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: normal;
    color: $danger-color;
    transform: translateX(-12px) translateY(4px);
}
}


